In [1]:
import numpy as np
import pandas as pd

import math 
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("BreastCancer.csv")

In [3]:
data

,Class,age,menopause,tumor_size,inv_nodes,nodecaps,deg_malig,breast,breast_quad,irradiat
0,no-recurrence-events,30-39,premeno,30-34,0-2,no,3,left,left_low,no
1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,right_up,no
2,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,left,left_low,no
3,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,right,left_up,no
4,no-recurrence-events,40-49,premeno,0-4,0-2,no,2,right,right_low,no
...,...,...,...,...,...,...,...,...,...,...
281,recurrence-events,30-39,premeno,30-34,0-2,no,2,left,left_up,no
282,recurrence-events,30-39,premeno,20-24,0-2,no,3,left,left_up,yes
283,recurrence-events,60-69,ge40,20-24,0-2,no,1,right,left_up,no
284,recurrence-events,40-49,ge40,30-34,3-5,no,3,left,left_low,no
285,recurrence-events,50-59,ge40,30-34,3-5,no,3,left,left_low,no

In [4]:
# Code Here

### extracting independent variables

In [5]:
X = data.iloc[ : , 1:9]

In [6]:
y = data.iloc[:,0]
y1 = pd.DataFrame(y)

In [7]:
X_train,X_test,y_train,y_test = train_test_split(X,y1,test_size=0.03496503,random_state=599)

In [8]:
total = len(X_train)
total

276

### Step 1: Compute the ‘Prior’ probabilities for each of the class of fruits.

In [9]:
df_yes = X_train.loc[y_train['Class'] == 'no-recurrence-events']
df_no = X_train.loc[y_train['Class'] == 'recurrence-events']

total_yes = len(df_yes)
total_no = len(df_no)

In [10]:
# Calculate P(Y = c) [for every y]
y1 = y_train.value_counts().sort_index()[0] / total
y2 = y_train.value_counts().sort_index()[1] / total
y_train.value_counts().sort_index()

Class
no-recurrence-events    193
recurrence-events        83
dtype: int64

In [11]:
X_test

,age,menopause,tumor_size,inv_nodes,nodecaps,deg_malig,breast,breast_quad
3,60-69,ge40,15-19,0-2,no,2,right,left_up
74,30-39,premeno,5-9,0-2,no,2,left,right_low
128,50-59,premeno,25-29,0-2,yes,2,left,left_up
157,50-59,premeno,30-34,0-2,no,1,left,central
52,50-59,premeno,15-19,0-2,no,1,left,left_low
25,40-49,premeno,25-29,0-2,no,2,left,left_up
73,50-59,premeno,15-19,0-2,no,2,right,right_low
230,50-59,premeno,50-54,9-11,yes,2,right,left_up
80,50-59,ge40,10-14,0-2,no,2,right,left_low
243,50-59,ge40,20-24,3-5,yes,3,right,right_up

In [12]:
X_test.columns[0]

'age'

In [13]:
prob_list = []
prob_yes = 1
prob_no = 1

for i in range(len(X_test)):
    p = X_test.iloc[i,:]    
    
    for j in range(7):
        prob_yes *= len(df_yes.loc[df_yes[X_test.columns[j]] == p[j],:]) / total_yes
        prob_no *= len(df_no.loc[df_no[X_test.columns[j]] == p[j],:]) / total_no

    if prob_yes > prob_no:
        prob_list.append("no-recurrence-events")
    else:
        prob_list.append("recurrence-events")

In [14]:
prob_no

0.0

In [15]:
prob_list

['no-recurrence-events',
 'no-recurrence-events',
 'no-recurrence-events',
 'no-recurrence-events',
 'no-recurrence-events',
 'no-recurrence-events',
 'no-recurrence-events',
 'no-recurrence-events',
 'no-recurrence-events',
 'no-recurrence-events']

In [16]:
y_test

                    Class
3    no-recurrence-events
74   no-recurrence-events
128  no-recurrence-events
157  no-recurrence-events
52   no-recurrence-events
25   no-recurrence-events
73   no-recurrence-events
230     recurrence-events
80   no-recurrence-events
243     recurrence-events

In [17]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, prob_list)

0.8